<p>This is the default controller</p>

        <ul>
            <li ng-repeat="team in teams">
            	<a ng-href="#/team/{{team}}">
            		{{team}}
            	</a></li>
        </ul>
        <p>{{scoreboard.date}}</p>
		<ul>
            <li ng-repeat="game in scoreboard.games">
            	<!-- <pre>{{ game | json }}</pre> -->
            	{{game.home_team_city}} {{game.home_team_name}} vs {{game.away_team_city}} {{game.away_team_name}}
            </li>
            
        </ul>
